<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.udacity.gradle.builditbigger">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name="com.udacity.gradle.builditbigger.MainActivity"
            tools:node="remove" />

        <activity
            android:name=".MainTestActivity"
            android:label="@string/app_name" />

        <activity-alias
            android:name="com.example.application.Launcher"
            android:targetActivity=".MainTestActivity"
            tools:replace="android:targetActivity" />

    </application>

</manifest>